################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MapsOperations.test/.vs/MapsOperations.test/v16
